

  <div class="group">
      <% if current_user && current_user == @meetup.user %>
        <%= link_to("Edit", edit_meetup_path(@meetup), class: "btn btn-primary pull-right")%>
      <% end %>
  </div>

<h1><%= @meetup.title %></h1>
<hr><br>
<p><%= simple_format(@meetup.description) %></p>

<% if @meetup.comments.empty? %>
   <p> 尚未有人留言 </p>
 <% else %>
   <% @floor = 1 %>
   <% @meetup.comments.each do |comment| %>
     <%= @floor %>樓
     <div class="col-md-12">
       <p><%= comment.message %></p>
     </div>
     <% @floor = @floor + 1 %>
     </br>
   <% end%>
 <% end %>

<p>
 <%= link_to("Delete", "#",
             method: :delete,
             class: "button",
             data: { confirm: "Are you sure?" } )%></p>

 <%= render 'comments/comment_form' %>
